@import url("bootstrap.min.css");
@import url("meanmenu.css");
@import url("style.css");
@import url("responsive.css");
@import url("material-design-iconic-font.min.css");

/*slider css*/
.slider {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .single-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*smooth scroll css*/
html {
    scroll-behavior: smooth;
}
/*end*/